html, body {
  overflow-x: hidden;
}

@font-face {
  font-family: myFont;
  src: url("/fonts/prodsanReg.ttf");
}

@keyframes animatedText {
  to {
    background-position: -100% 0;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@font-face {
  font-family: myFont6;
  src: url("/fonts/rubikReg.ttf");
}

// .home-page {
//   @media (min-width: 798px) {
//     padding: 0px 50px;
//   }

//   .trusted-message {
//     font-family: "myFont", sans-serif;
//     margin-top: 5px;
//   }

//   .trusted-companies {
//     display: flex;
//     justify-content: center;
//     gap: 100px; // Increased gap for larger screens
//     margin-top: 20px;
//     flex-wrap: wrap;

//     img {
//       max-width: 80px;
//       max-height: 80px;
//       animation: fadeInUp 0.5s ease-in-out;

//       @media (max-width: 798px) {
//         max-width: 60px;
//         max-height: 60px;
//       }
//     }
//   }

//   &__top {
//     padding: 20px 40px;

//     &__container {
//       width: 100%;
//       .content-with-image {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         flex-wrap: wrap;

//         .image-section {
//           width: 100%;
//           max-width: 650px;
//           margin-top: 20px;

//           img {
//             width: 100%;
//             height: auto;
//             animation: fadeInUp 0.5s ease-in-out;
//           }
//         }

//         .text-section {
//           margin-right: 10px;
//           padding-right: 20px;
//         }
//       }
//     }

//     &__title {
//       font-family: "myFont", sans-serif;
//       font-size: 56px;
//       font-weight: bold;
//       background-image: linear-gradient(
//         to right,
//         #5f5f5f,
//         #4283f3,
//         #e94336,
//         #5f5f5f
//       );
//       -webkit-background-clip: text;
//       background-clip: text;
//       color: transparent;
//       background-size: 300%;
//       animation: animatedText 5s infinite linear;
//     }

//     @media (max-width: 798px) {
//       padding: 0;
//     }
//   }
// }

// .animated-image {
//   animation: fadeInUp 0.5s ease-in-out;
// }

.home-section {

  margin-top: 0px;
  padding-top: 0px;

  width: 100vw;
  height: 100vh;
  
  background-size: cover;
  background-position: center;

  color: white;
  font-family: 'myFont';

  position: relative;

  .title-container {
    position: absolute;
    left: 0;
    top: 40%;
    transform: translateY(-50%);
    margin-left: 20px;

    .page-title {
      font-weight: 700;
      font-size: 100px;
      letter-spacing: 1.5px;
    }
  }

  .subtitle-container {
    position: absolute;
    right: 50px;
    bottom: 30px;

    .subtitle {
      font-size: 50px;
      letter-spacing: 1.5px;
    }
  }
}

.home-section.section-1 {
  background-image: url('/hero-page-1.png');
}

.home-section.section-2 {
  position: relative;
  background-image: url('/hero-page-2.png');

  .description-container {
    position: absolute;
    left: 200px;
    transform: translateY(-50%);
    top: 60%;
  }
}

.home-section.section-3 {
  position: relative;
  background-image: url('/hero-page-3.png');

  .description-container {
    position: absolute;
    right: 200px;
    transform: translateY(-50%);
    top: 60%;
  }
}

.home-section.section-4 {
  background-image: url('/hero-page-4.png');
  color: black;
  .top-container {
    .separator {
      background-color: black;
    }
  }
  .learn-more-button {
      color: black;
      border-color: black;
  }
  .learn-more-button:hover {
    background-color: black;
    color: white;
  }
}

.home-section.section-5 {
  background-image: url('/hero-page-5.png');
  color: black;
  .top-container {
    .separator {
      background-color: black;
    }
  }
  .learn-more-button {
      color: black;
      border-color: black;
  }
  .learn-more-button:hover {
    background-color: black;
    color: white;
  }
}

.description-container {
  width: 370px;

  .header {
    font-size: 45px;
    font-weight: 550;
    margin-bottom: 0;
    line-height: 1.2;
  }
  .separator {
    width: 370px;
    height: 2px;
    background-color: white;
    margin: 15px auto;
  }
  .description-text {
    width: 350px;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .learn-more-button {
    margin-left: 230px;
  }
}

.learn-more-button {
  display: inline-block;
  color: white;
  font-size: 18px;
  border-color: white;
  border-style: solid;
  padding: 10px 20px;
  border-radius: 15px;
}
.learn-more-button:hover {
  background-color: white;
  color: black;
}

.page-container {
  text-align: center;

  .top-container {
    padding-top: 130px;
    padding-bottom: 30px;
    
    .header {
      font-size: 45px;
      font-weight: 550;
      margin-bottom: 0;
      line-height: 1.2;
    }
    .separator {
      width: 370px;
      height: 2px;
      background-color: white;
      margin: 15px auto;
    }
    .brief-text {
      font-size: 18px;
      margin-top: 0px;
      margin-bottom: 20px;
    }
  }

  .project-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; // center cards if only one or partial row
    gap: 1.5rem; // space between cards horizontally and vertically
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    justify-content: center;
    align-items: start;

    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  .learn-more-button {
    margin-top: 80px;
  }

}

.project-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -40px;
}

.project-cards-container > * {
  margin: 40px;
}

  

 

