@font-face {
  font-family: myFont;
  src: url("/fonts/opensans.ttf");
}

.headerCard {
  border: 0px;
  margin: 0 60px;
  border-radius: 0px;
  min-height: 200px;
  justify-content: center;

  &__headerTitle {
    text-align: center;
  }
  &__title {
    text-align: center;
    font-size: max(4vw, 66px);
    font-family: "myFont", sans-serif;
    font-weight: 700;
  }

  &__logoRight,
  &__logoLeft {
    width: 100%;
    min-width: 20px;
    max-width: 60px;
  }
  &__contents {
    padding-top: 10px;
    text-align: center;
    font-size: max(1.5vw, 15px);
    color: #404040;
  }
}
