@font-face {
  font-family: myFont;
  src: url("/fonts/opensans.ttf");
}

.sectionCard {
  border: 0px;
  margin: 20px 60px;
  justify-content: center;

  &__title {
    text-align: center;
    font-size: max(2vw, 33px);
    font-family: "myFont", sans-serif;
  }

  &__contents {
    padding-top: 10px;
    text-align: center;
    color: #404040;
  }
}
